<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>Autor: Yolanda Casas<h2>
	<p><img src="images/perfil.jpg" width="225" height="224">Ese soy yo.</p>
  </body>
</html>